
.body
  .body__box
    .body__box__regisration
      = link_to "/items/new" ,class:"body__box__regisration--text"do
        %h3.box 商品登録 
    .body__box__show
      = link_to "/items" ,class:"body__box__show--text"do
        %h3.box 商品一覧
      
  
