* {
  box-sizing: border-box;
}
.images{
  padding-top:100px;
  &__image{
    margin:10px;
    .image_detail{
      margin-left:5px;
      border:solid 1px black;
    }
  }
}

.item_image_new{
  padding-top:100px;
}