//================================= STYLE&COLOR=================================//
@mixin text_field($height: 25px, $width: 300px, $radius:4px, $fSize:15px) {
  height: $height;
  width:$width;
  border-radius: $radius;
  font-size: $fSize;
}

@mixin remove_btn($border: solid 1px, $color:red,$text:center,
                  $fsize:15px,$curosr: pointer,$radius:15px){
  color:$color;
  text-align: $text;
  font-size:$fsize;
  cursor: $curosr;
  border:$border;
  border-radius: $radius;
}

@mixin photo_img($w:200px,$h:200px,$border:solid 1px black){
  width:$w;
  height:$h;
  border:$border;
}

@mixin photo_no($p:absolute,$l:5px,$t:2px){
  position: $p;
  left: $l;
  top: $t;
}

@mixin photo_box($m-l:5px,$r:relative){
  margin-left:$m-l;
  position:$r;
}

@mixin photo_upload($fsize:18px,$curosr: copy,$color:#253141){
  font-size:$fsize;
  cursor: $curosr;
  color:$color;

}

//================================= SIGNUP VIEW=================================//


* {
  box-sizing: border-box;
}

.form{
  padding-left:50px;
  padding-top:120px;
  display: flex;
  .right_box{
    width: 50vw;
    height: 100vh;
  .text{
    color:red;
  }
    #item_new{
    font-size:20px;

    .field{
      font-size:20px;
      text-align:left;
      #item_name{
        @include text_field();
        }
      #item_price{
        @include text_field();
        } 
      #item_budget{
        @include text_field();
        }
      #item_color{
        @include text_field();
        }
      #item_on_air{
        height: 25px;
        width:300px;
        font-size:15px;
        }
      #item_video{
        height: 25px;
        width:300px;
        font-size:15px;
        } 
      #item_category{
        height: 25px;
        width:300px;
        font-size:15px;
        }
      #item_discription{
        font-size:15px;
        }
      }


      .field_image{
        .field_images{
          display: flex;
          .field_upload{
            margin-left:5px;
          #photo1{
            @include photo_upload();
            #image1{
              display:none;
            }
          }
          #photo2{
            @include photo_upload();
            #image2{
              display:none;
            }
          }
          #photo3{
            @include photo_upload();
            #image3{
              display:none;
            }
          }
          #photo4{
            @include photo_upload();
            #image4{
              display:none;
            }
          }
          #photo5{
            @include photo_upload();
            #image5{
              display:none;
            }
          }
          #photo6{
            @include photo_upload();
            #image6{
              display:none;
            }
          }
          
        .remove_btn1{
          @include remove_btn();
          }
        .remove_btn2{
          @include remove_btn();
          }
        .remove_btn3{
          @include remove_btn();
          }
        .remove_btn4{
          @include remove_btn();
          }
        .remove_btn5{
          @include remove_btn();
          }
        .remove_btn6{
          @include remove_btn();
          }
        }
      }
    }

  .actions{
    .item_register{
    font-size: 20px;
    width :250px;
    height:50px;
    border-radius: 10px;
    border:solid #33FF99;
    cursor: pointer;
    margin: 10px 0 10px 35px;

      }
    }  
  }
  }
  .left_box{
    .all_image_box{
      display: flex;
      flex-wrap: wrap;
      .image_box1{
        @include photo_box();
        .photo_img{
        @include photo_img();
        }
        .image1{
        @include photo_no();
        }
      }
      .image_box2{
        @include photo_box();
        .photo_img{
          @include photo_img();
        }
        .image2{
          @include photo_no();
        }
      }
      .image_box3{
        @include photo_box();
        .photo_img{
          @include photo_img();
        }
        .image3{
          @include photo_no();
        }
      }
      .image_box4{
        @include photo_box();
        .photo_img{
          @include photo_img();
        }
         .image4{
        @include photo_no();
        }
      }
      .image_box5{
        @include photo_box();
        .photo_img{
          @include photo_img();
        }
        .image5{
          @include photo_no();
          }
      }
      .image_box6{
        @include photo_box();
        .photo_img{
          @include photo_img();
        }
        .image6{
          @include photo_no();
        }
      }
    }
  }
}


