//================================= STYLE&COLOR=================================//
@mixin text_field($height: 25px, $width: 300px, $radius:4px, $fSize:15px) {
  height: $height;
  width:$width;
  border-radius: $radius;
  font-size: $fSize;
}

//================================= SIGNUP VIEW=================================//


* {
  box-sizing: border-box;
}

.form{
  padding-left:100px;
  padding-top:120px;
  background-color: #fafafa;
  .text{
    color:red;
  }
    #item_new{
    width: 300px;
    height: 100vh;
    font-size:20px;

    .field{
      font-size:20px;
      text-align:left;
      #item_name{
        @include text_field();
        }
      #item_price{
        @include text_field();
        } 
      #item_budget{
        @include text_field();
        }
      #item_color{
        @include text_field();
        }
      #item_on_air{
        height: 25px;
        width:300px;
        font-size:15px;
        }
      #item_image{
        height: 25px;
        width:300px;
        font-size:15px;
        }
      #item_video{
        height: 25px;
        width:300px;
        font-size:15px;
        } 
      #item_category{
        height: 25px;
        width:300px;
        font-size:15px;
      }
      #item_comment{
        font-size:15px;
        }
      }
  .actions{
    .item_register{
    font-size: 20px;
    width: 150px;
    height:50px;
    border-radius: 10px;
    border:solid #33FF99;
    margin:65px 50px;
    cursor: pointer;
      }
    }  
  }
}


