* {
  box-sizing: border-box;
}

.show {
  display:flex;
  padding-top:100px;
  height: 100vh;
  &__image{
    width: 25%;
    background-color:#00CC66;

    .image{
      padding:10px;
    }
    &__box{
      margin-top:20px;

    }
    &__edit{
      margin-top:20px;
      padding:10px;
      .edi{
        float:left;
        text-decoration: none;
        margin-left: 50px;
        color:black;
        font-size:30px;
      }
      .delete {
        float:left;
        margin-left:120px;
        color:red;
        font-size:30px;
        }
      }
  }
  &__text{
    width: 25%;
    .comment{
      margin-left:5px; 
    }
  
  }

  &__video{
    background-color:#00CC66;
    color:white;
    font-size:20px;
    padding:10px;
    .comment{
      height: 40px;
      width:150px;
      font-size:20px;
      margin-top:10px;
      margin-left:10px;
    }

  }
}