
$none :none;

.header{
  height: 100px;
  width: 100%;
  padding-top:10px;
  border-bottom: solid 1px #eee;
  background-color:#C0C0C0;
  position:fixed;
  z-index: 1;
  &__user{
    height: 100px;
    width: 200px;
    font-size:20px;
    float:left;
    &__name{
      float:left;
      margin-left:5px;
      color:black;
      text-decoration: $none;
      .user {
        margin-left:5px;
        float:left;
      }
      .name{
        color:black;
        margin-left:5px;
      }
    }
    &__image{
      margin-left:10px;
      .userimage{
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #fafafa; 
        background-color: #fafafa;
      }
      .none{
        text-decoration: $none;
        .edit{
          color:white;
          font-size:25px;
          margin-left:10px;
          }
        }
      .logout{
        color:black;
        font-size:25px;
        margin-left:10px;
        }
      }
    }
  
  &__button{
   height: 100px;
   width: 210px;
   float:right;
   margin-right:15px;

    &__create{
      
      &--show{
        text-decoration: $none;
        color:black;
        font-weight:bold;
        border:solid greenyellow;
        background-color: #fff;
        padding:5px;
      }

      &--new{
        margin-left:10px;
        text-decoration: $none;
        color:black;
        font-weight:bold; 
        border:solid greenyellow;
        background-color: #fff;
        padding:5px;
      }
    }
    &__show{
      font-size:40px;
      padding-left: 40px;
      margin-top: 10px;
  
      &--biyou{
        text-decoration: $none;
        color:#CC6666;
        cursor:pointer;
        margin-left:5px;
      }
      &--fashion{
        text-decoration: $none;
        color:#FFD700;
        margin-left:10px;
      }
      &--living{
        text-decoration: $none;
        color:#008800;
        margin-left:5px;
      }
    }
  }
}