
.header{
  height: 100px;
  width: 100%;
  padding-top:10px;
  background-color:#696969;
  &--edit{
    text-decoration: none ;
    color:black;
    border: solid black;
    background-color: #fff;
  }
  &__button{
   height: 100px;
   float:right;
  }
}