.login{
  background-color:#99FF99;
  height: 100vh;
  width:100vw;
  &__text{
  text-align:  center;
  font-size:25px;
    #new_user{
      border:solid 2px;
      height: 100%;
      width:600px;
      margin: 0 auto;
      .field{
        font-size:20px;
        #user_email{
          height: 25px;
          width:300px;
          border-radius: 4px;
          font-size: 16px;

        }
        #user_password{
          height: 25px;
          width:300px;
          border-radius: 4px;
          font-size: 15px;
        }
      }
      .actions{
        .login_button{
          width:200px;
          font-size: 0.7em;
          background-color:#009900;
          margin-bottom:5px;
          border-radius: 20px;
        }
      }
    }
    .links{
      margin-top:10px;
      font-size:20px;
      text-decoration: none;
    }
  }
}
