//================================= STYLE&COLOR =================================//

@mixin text_field($height: 25px, $width: 300px, $radius:4px, $fSize:15px) {
  height: $height;
  width:$width;
  border-radius: $radius;
  font-size: $fSize;
}
//================================= LOGIN VIEW =================================//

* {
  box-sizing: border-box;
}
.login{
  background-color:#fafafa;
  height: 100vh;
  width:100vw;
  padding-top:100px;
  &__text{
  text-align:  center;
  font-size:25px;
    #new_user{
      border:solid 2px;
      height: 100%;
      width:600px;
      margin: 0 auto;
      .field{
        font-size:20px;
        #user_email{
          @include text_field();
        }
        #user_password{
          @include text_field();
        }
      }
      .actions{
        .login_button{
          width:200px;
          font-size: 0.7em;
          background-color:#009900;
          margin-bottom:5px;
          border-radius: 20px;
        }
      }
      .test_account{
        font-size:15px;
      }
    }
    .links{
      margin-top:10px;
      font-size:20px;
      text-decoration: none;
    }
  }
}
