.images
  .images__image
    - @images.each do |image| 
      - if image.image.file.nil?
        = image_tag "/images/noimage.png", width:"200",height: "200" 
      - else
        = image_tag image.image.thumb.url, alt: "商品画像です"